.holder {
  background: #212121;
  border: 1px solid white;
  padding: 8px;
  border-radius: 18px;
  margin: 0;
  position: relative;
}

.ace-holder {
  margin-right: 20px;
}

ace-editor {
}

editor-pin {
  position: absolute;
  right: 6px;
  top: 50%;
  margin-top: -13px;
}
