.holder {
  position: relative;
}

.title {
  font-size: 32px;
  margin-bottom: 56px;
}

.node-list {
  max-height: 60vh;
  overflow: scroll;
}

.node.item {
  padding: 16px;
  text-align: left;
  border-bottom: 1px dashed #616161;
  color: #bdbdbd;
  transition: color .3s;
  cursor: pointer;
  outline: none;
}

.node.item:last-child {
  border-bottom: none;
}

.node.item:hover {
  color: #ffffff;
}

.node.item .extra {
  float: right;
}

.node.item .extra .access {
  font-size: 12px;
  color: #757575;
  transition: color .3s;
}

.node.item:hover .extra .access.public {
  color: #76FF03;
}

.node.item:hover .extra .access.internal {
  color: #448aff;
}

.node.item .extra .method {
  color: #616161;
  font-size: 9px;
  font-weight: 900;
  transition: color .3s;
}

.node.item:hover .extra .method {
  color: #9e9e9e;
}

.node-list.empty {
  text-align: center;
}

.node-list.empty img {
  opacity: .25;
  display: block;
  margin: 0 auto;
}

.node-list.empty p {
  font-size: 14px;
  max-width: 50%;
  margin: 0 auto;
  color: rgba(255, 255, 255, .5);
}

.node-list.empty p span {
  font-size: 24px;
  margin: 8px;
}

.toolbar {
  position: absolute;
  top: 0;
  right: 8px;
  text-align: center;
}

.toolbar .action {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  vertical-align: middle;
  position: relative;
  width: 32px;
  height: 32px;

  border: 1px solid white;
  border-radius: 32px;
  font-size: 24px;
  cursor: pointer;
  opacity: .5;

  transition: all .3s;
}

.toolbar .action:hover {
  opacity: 1;
}

.toolbar .search.action {
  text-align: right;
  position: relative;
}

.toolbar .search.action input {
  display: none;
}

.toolbar .search.action span {
  position: absolute;
  top: 3px;
  right: 4px;
}

.toolbar .search.action.active {
  width: 192px;
  opacity: 1;
}

.toolbar .search.action.active input {
  display: inline-block;
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  position: absolute;
  left: 8px;
  color: white;
  width: 156px;
  top: 6px;
  font-size: 14px;
}
