.holder {
  position: relative;
}

.title {
  font-size: 32px;
  margin-bottom: 56px;
}

.node-list {
  max-height: 60vh;
  overflow: scroll;
}

.node-list nodelist-entry:not(:last-child) {
  border-bottom: 1px dashed #616161;
}

.node-list.empty {
  text-align: center;
}

.node-list.empty img {
  opacity: .25;
  display: block;
  margin: 0 auto;
}

.node-list.empty p {
  font-size: 16px;
  max-width: 75%;
  text-align: left;
  color: rgba(255, 255, 255, .5);
}

.node-list.empty p span.button {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, .5);
  text-align: center;
  margin: 2px;
  vertical-align: middle;
}

.toolbar {
  position: absolute;
  top: 0;
  right: 8px;
  text-align: center;
}

.toolbar .action {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  vertical-align: middle;
  position: relative;
  width: 32px;
  height: 32px;

  border: 1px solid white;
  border-radius: 32px;
  font-size: 24px;
  cursor: pointer;
  opacity: .5;

  transition: all .3s;
}

.toolbar .action:hover {
  opacity: 1;
}

.toolbar .search.action {
  text-align: right;
  position: relative;
}

.toolbar .search.action input {
  display: none;
}

.toolbar .search.action span {
  position: absolute;
  top: 3px;
  right: 4px;
}

.toolbar .search.action.active {
  width: 192px;
  opacity: 1;
}

.toolbar .search.action.active input {
  display: inline-block;
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  position: absolute;
  left: 8px;
  color: white;
  width: 156px;
  top: 6px;
  font-size: 14px;
}

.toolbar > * {
  margin-right: 5px;
}

.toolbar > *:last-child {
  margin-right: 0;
}