<div class="holder">
  <div class="title">NODES</div>

  <div class="node-list" *ngIf="!empty">
    <div *ngFor="let node of nodes" class="node item"
          routerLink="/editor"
          [queryParams]="{id: node.id}">
      {{ node.path }}
      <div class="extra">
        <span class="access" [ngClass]="{'public': node.public, 'internal' : !node.public}">
          {{node.public?'public':'internal'}}
        </span>
        <span class="method">
          {{node.method}}
        </span>
      </div>
    </div>
  </div>

  <div class="node-list empty" *ngIf="empty">
    <p>
      nodes are blocks of logic on your project. they can be either
      <span class="hl-green">public</span>, which means they are accessible via requests
      from outside world, or can be <span class="hl-blue">internal</span>, which
      means they can only be called from other nodes of this project.
      <br>
      press the <span class="button">+</span> button above to create a new node.
    </p>
  </div>

  <div class="toolbar">
    <div class="search action"
        [ngClass]="{'active': searching}">
      <span (click)="toggleSearch()"
            class="material-icons">search</span>
      <input #searchinput
            (blur)="searching=searchinput.value.length>0"
            type="text"/>
    </div>
    <div routerLink="/editor" class="add action">
      <span>+</span>
    </div>
  </div>
</div>
