.holder {
  position: relative;
}

.title {
  font-size: 32px;
  margin-bottom: 56px;
}

.key-list .key {
  display: inline-block;
  cursor: pointer;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, .2);
  padding: 4px;
  margin: 12px;
  transition: border-color .15s;
}

.key-list .key:hover {
  border-color: rgba(255, 255, 255, .5);
}

.key-list .key img {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  border: 1px solid white;
  vertical-align: middle;
  opacity: 0.2;

  transition: opacity .15s;
}

.key-list .key:hover img {
  opacity: .5;
}

.key-list .key .info {
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px
}

.key-list .key .info .name {
  display: block;
}

.key-list .key .info .path {
  font-size: 12px;
}

.key-list.empty {
  text-align: center;
}

.key-list.empty img {
  opacity: .25;
  display: block;
  margin: 0 auto;
}

.key-list p {
  font-size: 16px;
  max-width: 75%;
  text-align: left;
  color: rgba(255, 255, 255, .5);
}

.key-list.empty p span.button {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, .5);
  text-align: center;
  margin: 2px;
  vertical-align: middle;
}

.toolbar {
  position: absolute;
  top: 0;
  right: 8px;
  text-align: center;
}

.toolbar .action {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  vertical-align: middle;
  position: relative;
  width: 32px;
  height: 32px;

  border: 1px solid white;
  border-radius: 32px;
  font-size: 24px;
  cursor: pointer;
  opacity: .5;

  transition: all .3s;
}

.toolbar .action:hover {
  opacity: 1;
}

.toolbar .search.action {
  text-align: right;
  position: relative;
}

.toolbar .search.action input {
  display: none;
}

.toolbar .search.action span {
  position: absolute;
  top: 3px;
  right: 4px;
}

.toolbar .search.action.active {
  width: 192px;
  opacity: 1;
}

.toolbar .search.action.active input {
  display: inline-block;
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  position: absolute;
  left: 8px;
  color: white;
  width: 156px;
  top: 6px;
  font-size: 14px;
}

input.new-key {
  display: block;
  width: 100%;
  height: 32px;
  border-radius: 19px;
  border: 1px solid white;
  background: black;
  font-family: inherit;
  font-size: 14px;
  line-height: 32px;
  color: #00BFA5;
  text-align: center;
  outline: none;
}

textarea {
  display: block;
  width: 100%;
  outline: none;
  border-radius: 19px;
  border: 1px solid white;
  background: black;
  font-family: 'PT Mono', monospace;
  font-size: 12px;
  color: #00BFA5;
  outline: none;
  padding: 12px 8px;
}
