.holder {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  background: rgba(0, 0, 0, .75);
  opacity: 0;
  z-index: -10000;
  transition: opacity .3s;
}

.holder.active {
  opacity: 1;
  z-index: 10000;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.inner {
  font-size: 24px;
}

.inner .icon {
  max-width: 30vw;
  display: block;
  margin: 0 auto;
}

.inner .title {
  font-size : 32px;
  margin-bottom: 32px;
}

.inner .title.centered {
  text-align: center;
  margin-bottom: 56px;
}

.inner .content {
  font-size: 16px;
  max-width: 30vw;
  margin: 0 auto;
}

.inner .actions {
  text-align: right;
  padding: 32px 0;
}

.close {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 64px;
  height: 64px;
  opacity: 0.1;
  cursor: pointer;
  transition: opacity .15s;
}

.close:hover {
  opacity: .25;
}
