<div class="overlay holder"
[ngClass]="{'active': active, 'expansive': expansive, 'not-safari': !isSafari}">
  <div class="aligner" (click)="checkClose($event)">
    <div class="inner" #inner>
      <img *ngIf="icon" [src]="icon" class="icon"/>
      <div class="title" [ngClass]="{ centered : icon }">
        <ng-content select="overlay-title"></ng-content>
      </div>
      <div class="content">
        <ng-content select="overlay-content"></ng-content>
      </div>
      <div class="actions">
        <ng-content select="overlay-actions"></ng-content>
      </div>
    </div>
  </div>
  <img class="close" src="assets/close.svg" (click)="close()"/>
</div>
