.holder {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  background: rgba(66, 66, 66, .45);
  backdrop-filter: blur(30px) saturate(200%) brightness(150%);
  opacity: 0;
  z-index: -10000;
  transition: opacity .3s;
}

.holder.not-safari {
  background: rgba(33, 33, 33, .95);
}

.holder.active {
  opacity: 1;
  z-index: 10000;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.inner {
  font-size: 24px;
}

.inner .icon {
  height: 192px;
  display: block;
  margin: 0 auto;
}

.inner .title {
  font-size : 32px;
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, .15);
}

.inner .title.centered {
  text-align: center;
  margin-bottom: 56px;
}

.inner .content {
  font-size: 16px;
  max-width: 35vw;
  max-height: 40vh;
  overflow-y: auto;
  margin: 0 auto;
}

.inner .actions {
  text-align: right;
  padding: 32px 0;
}

.expansive .inner .actions {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid rgba(255, 255, 255, .15);
}

.expansive .inner {
  width: calc(100vw - 256px);
}

.expansive .inner .icon {
  display: inline-block;
  height: 96px;
}

.expansive .inner .title {
  display: inline-block;
  vertical-align: middle;
  border: none;
}

.expansive .inner .content {
  max-width: calc(100vw - 256px);
  width: calc(100vw - 256px);
  min-height: 40vh;
  max-height: calc(100vh - 256px);
}

.close {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 64px;
  height: 64px;
  opacity: 0.25;
  cursor: pointer;
  transition: opacity .15s;
}

.close:hover {
  opacity: .75;
}
