.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.inner {
  max-width: 40vw;
  text-align: center;
}

p {
  margin: 16px 0;
}

input {
  background: black;
  width: 80%;
  border-radius: 38px;
  height: 20px;
  line-height: 20px;
  padding: 8px;
  color: #00BFA5;
  border: none;
  outline: none;
  text-align: center;
}
