<div class="title">CONFIG</div>
<p>
  write down your configuration in JSON format here:
</p>
<br>
<div class="ace-holder">
  <ace-editor mode="javascript"
              [(text)]="configCode"
              [options]="options"
              style='min-height:16px;'></ace-editor>
</div>
<div class="buttons">
  <button (click)="prodOverlay.activate()">
    Production
  </button>
  <button (click)="save()">
    Save
  </button>
</div>

<overlay #prodOverlay>
  <overlay-title>
    Production Config
  </overlay-title>
  <overlay-content>
    this config will be used on top of your default configuration in production instances and will
    override already existing config values.
    <br><br>
    <div class="ace-holder">
      <ace-editor mode="javascript"
                  [(text)]="prodConf"
                  [options]="options"
                  style='min-height:16px;'></ace-editor>
    </div>
  </overlay-content>
  <overlay-actions>
    <button (click)="saveProd()">
      Save
    </button>
  </overlay-actions>
</overlay>

<overlay #successOverlay icon="assets/config.svg">
  <overlay-title>
    Config Updated!
  </overlay-title>
  <overlay-content>
    Project configuration successfully updated. You should now see the effects of these
    new configurations on your project.
  </overlay-content>
  <overlay-actions>
    <button (click)="successOverlay.close()">
      Ok
    </button>
  </overlay-actions>
</overlay>

<overlay #errorOverlay>
  <overlay-title>
    Syntax Error
  </overlay-title>
  <overlay-content>
    There is an error in the syntax of the configuration you wrote.
    Make sure you completely comply with JSON formatting.

    <div class="error-details">
      {{ error }}
    </div>
  </overlay-content>
  <overlay-actions>
    <button (click)="errorOverlay.close()">
      Got It
    </button>
  </overlay-actions>
</overlay>
