<div class="container" [@container]="">
  <img src="assets/logo-backdrop.svg"
    [ngStyle]="{'transform': 'rotate(' + (tester.playbackPercentage * 720) + 'deg)'}"
    [ngClass]="{'loading': communicating, 'reverse' : reverting, 'tester': tester.active, 'playing': playing}"/>
  <editor-bar position="left">
    <editor-general></editor-general>

    <div class="inputs pin-list">
      <div class="title">inputs</div>
      <ng-container *ngFor="let in of model.in.items">
        <div class="input item">
          <input type="text"
                [autofocus]="!in.label"
                (click)="changeTestInput(in.label)"
                [readonly]="tester.active"
                (blur)="sanitizeInput(in)"
                [(ngModel)]="in.label"/>
          <img class="remove" src="assets/close.svg" (click)="removeInput(in)"/>
          <editor-pin [pin]="in.pin"></editor-pin>
        </div>
      </ng-container>
      <editor-adder (add)="newInput()" [disabled]="tester.active"></editor-adder>
    </div>

    <div class="configs pin-list">
      <div class="title">configs</div>
      <ng-container *ngFor="let conf of model.config.items">
        <div class="config item">
          <input type="text"
                [autofocus]="!conf.label"
                [readonly]="tester.active"
                (blur)="sanitizeConfig(conf)"
                [(ngModel)]="conf.label"/>
          <img class="remove" src="assets/close.svg" (click)="removeConfig(conf)"/>
          <editor-pin [pin]="conf.pin"></editor-pin>
        </div>
      </ng-container>
      <editor-adder (add)="newConfig()" [disabled]="tester.active"></editor-adder>
    </div>

    <div class="action-list bottom main" [ngClass]="{'wd' : model.id && !tester.active}">
      <div class="button save" [ngClass]="{'hidden': tester.active}"(click)="save()">Save</div>
      <div class="button" routerLink="/">Home</div>

      <div class="mode-toggle-buttons">
        <div class="button test"
          (click)="testMode()"
          [ngClass]="{'active' : !tester.active}">Test</div>
        <div class="button edit"
          (click)="editMode()"
          [ngClass]="{'active': tester.active}">Edit</div>
      </div>
      <div class="button watch"
        (click)="tester.watch()">Watch</div>
      <div class="button misc"
        (click)="miscOverlay.activate()">Misc</div>
      <br/><br/>
      <div class="button" (click)="confirmDeletion()">Delete</div>
    </div>
  </editor-bar>

  <editor-pane></editor-pane>

  <ng-container *ngFor="let link of model.links">
    <editor-link [link]="link"></editor-link>
  </ng-container>

  <editor-bar position="right">
    <div class="main-action-holder" [ngClass]="{'hidden': tester.active}">
      <div
        [ngClass]="{'cancel': state == states.adding || state == states.selected }"
        (click)="mainAction()"
        class="main-action">+</div>
    </div>

    <div class="main-action-holder test" [ngClass]="{'hidden': !tester.active}">
      <div class="main-action" (click)="tester.togglePlayback()">
        <span class="play-pause" [ngClass]="{'playing': playing}"></span>
      </div>
    </div>

    <div class="action-list right-bar add-nodes" [ngClass]="{'active': state == states.adding && !tester.active}">
      <div class="button value" (click)="newValue()">value</div>
      <div class="button expr" (click)="newExpr()">expression</div>
      <div class="button switch" (click)="newSwitch()">switch</div>
      <div class="button call" (click)="newCall()">call</div>
    </div>

    <div class="action-list right-bar copy-nodes"
      [ngClass]="{'active': state == states.selected && !tester.active}">
      <div class="button copy" [ngClass]="{'disabled': !editor.canCopy}" (click)="editor.copySelected()">Copy</div>
      <div class="button cut" [ngClass]="{'disabled': !editor.canCopy}" (click)="editor.cutSelected()">Cut</div>
      <br>
      <div class="button delete" (click)="editor.removeSelected()">Remove</div>
    </div>

    <div class="action-list right-bar paste-nodes"
      [ngClass]="{'active': state == states.initial &&
                  editor.canPaste && !tester.active}">
      <div class="button paste" (click)="editor.paste(registry)">Paste</div>
      <div class="button clear-clipboard" (click)="editor.clearClipboard()">Clear</div>
    </div>

    <div class="out-pins">

      <div class="outputs pin-list">
        <div class="title">outputs</div>
        <ng-container *ngFor="let out of model.out.items">
          <div class="output item">
            <editor-pin [pin]="out.pin"></editor-pin>
            <img class="remove" src="assets/close.svg" (click)="removeOutput(out)"/>
            <input type="text"
                  [autofocus]="!out.label"
                  [readonly]="tester.active"
                  (blur)="sanitizeOutput(out)"
                  [(ngModel)]="out.label"/>
          </div>
        </ng-container>
        <editor-adder (add)="newOutput()" style="output" [disabled]="tester.active"></editor-adder>
      </div>

      <div class="controls outputs pin-list">
        <div class="title">control outputs</div>
        <ng-container *ngFor="let ctrl of model.control.items">
          <div class="control output item">
            <editor-pin [pin]="ctrl.pin" [controlStyle]="true"></editor-pin>
            <img class="remove" src="assets/close.svg" (click)="removeControl(ctrl)"/>
            <input type="text"
                  [autofocus]="!ctrl.label"
                  [readonly]="tester.active"
                  (blur)="sanitizeControl(ctrl)"
                  [(ngModel)]="ctrl.label"/>
          </div>
        </ng-container>
        <editor-adder (add)="newControl()" style="control" [disabled]="tester.active"></editor-adder>
      </div>

    </div>
  </editor-bar>

  <timeline #timeline></timeline>
</div>


<overlay #deleteOverlay>
  <overlay-title>Confirm Deletion</overlay-title>
  <overlay-content>
    Are you sure you want to delete node
    <span class="overlay-path">{{model.path}}</span>?
    <br/>
    This process cannot be undone. Additionally, nodes
    that depend on it will malfunction and require correction.
  </overlay-content>
  <overlay-actions>
    <button (click)="deleteOverlay.close()">Oh Wait ...</button>
    <button class="danger" (click)="delete()">Delete</button>
  </overlay-actions>
</overlay>

<overlay #deletedOverlay>
  <overlay-title>Deleted</overlay-title>
  <overlay-content>
    Node
    <span class="overlay-path">{{model.path}}</span>
    sucssessfully deleted.
  </overlay-content>
  <overlay-actions>
    <button (click)="deletedOverlay.close()">Ok</button>
  </overlay-actions>
</overlay>

<overlay #testInputOverlay>
  <overlay-title>
    test value of
    <span class="overlay-input">{{targetTestInput}}</span>
  </overlay-title>
  <overlay-content>
    add the test value for input <span class="overlay-input">{{targetTestInput}}</span>.
    you can click on the input to modify this value later.

    <br><br>
    <div class="overlay-input-editor">
      <ace-editor #testInputEditor
                  mode="javascript"
                  [options]="aceOptions"
                  style='min-height:16px;'></ace-editor>
    </div>
  </overlay-content>

  <overlay-actions>
    <button (click)="setTestValue()">
      Set Value
    </button>
  </overlay-actions>
</overlay>

<overlay #testErrorDetailsOverlay [active]="testErrorDetails">
  <overlay-title>Error</overlay-title>
  <overlay-content>
    <div class="error-message" *ngIf="testErrorDetails">
      {{ testErrorDetails.event.cascaded.cascaded.data.message }}
    </div>
    <div class="error-stack" *ngIf="testErrorDetails">
      {{ testErrorDetails.event.cascaded.cascaded.data.stack }}
    </div>
  </overlay-content>
  <overlay-actions>
    <button (click)="testErrorDetailsOverlay.close()">
      Ok
    </button>
  </overlay-actions>
</overlay>

<overlay #watchingOverlay
  icon="assets/watching.svg"
  [active]="tester.watching">
  <overlay-title>
    Watching
    <span class="overlay-path">{{model.path}}</span>
  </overlay-title>
  <overlay-content>
    The next invocation of
    <span class="overlay-path">{{model.path}}</span> will use
    this node design and will be recorded. That invocation might come
    from another node calling this path or, if it is public, if there is
    an external request to it. Waiting for the invocation ...
  </overlay-content>
  <overlay-actions>
    <button (click)="tester.cancelWatch()">
      Cancel
    </button>
  </overlay-actions>
</overlay>

<overlay #codeOverlay
  [expansive]="true"
  [active]="editor.expanded">
  <overlay-content>
    <ace-editor #codeOverlayEditor
                *ngIf="editor.expanded"
                mode="javascript"
                [readOnly]="tester.active"
                [(text)]="editor.expanded.code"
                [options]="aceExpandedOptions"
                style='min-height:16px;'></ace-editor>
  </overlay-content>
</overlay>

<editor-misc-overlay #miscOverlay></editor-misc-overlay>
<command-palette #commandPalette [commands]="paletteCommands"></command-palette>
