<div class="container">
  <img src="assets/logo-backdrop.svg" [ngClass]="{'loading': communicating}"/>
  <editor-bar position="left">
    <editor-general></editor-general>

    <div class="inputs pin-list">
      <div class="title">inputs</div>
      <ng-container *ngFor="let in of model.in.items">
        <div class="input item">
          <input type="text"
                (blur)="sanitizeInput(in)"
                [(ngModel)]="in.label"/>
          <editor-pin [pin]="in.pin"></editor-pin>
        </div>
      </ng-container>
      <editor-adder (add)="newInput()"></editor-adder>
    </div>

    <div class="configs pin-list">
      <div class="title">configs</div>
      <ng-container *ngFor="let conf of model.config.items">
        <div class="config item">
          <input type="text"
                (blur)="sanitizeConfig(conf)"
                [(ngModel)]="conf.label"/>
          <editor-pin [pin]="conf.pin"></editor-pin>
        </div>
      </ng-container>
      <editor-adder (add)="newConfig()"></editor-adder>
    </div>

    <div class="action-list bottom">
      <div class="button" (click)="save()">Save</div>
    </div>
  </editor-bar>

  <editor-pane></editor-pane>

  <ng-container *ngFor="let link of model.links">
    <editor-link [link]="link"></editor-link>
  </ng-container>

  <editor-bar position="right">
    <div class="main-action-holder">
      <div
        [ngClass]="{'delete': state == states.adding || state == states.selected }"
        (click)="mainAction()"
        class="main-action">+</div>
    </div>

    <div class="action-list add-nodes" [ngClass]="{'active': state == states.adding}">
      <div class="button value" (click)="newValue()">value</div>
      <div class="button expr" (click)="newExpr()">expression</div>
      <div class="button switch" (click)="newSwitch()">switch</div>
      <div class="button call" (click)="newCall()">call</div>
    </div>

    <div class="out-pins">

      <div class="outputs pin-list">
        <div class="title">outputs</div>
        <ng-container *ngFor="let out of model.out.items">
          <div class="output item">
            <editor-pin [pin]="out.pin"></editor-pin>
            <input type="text"
                  (blur)="sanitizeOutput(out)"
                  [(ngModel)]="out.label"/>
          </div>
        </ng-container>
        <editor-adder (add)="newOutput()" style="output"></editor-adder>
      </div>

      <div class="controls outputs pin-list">
        <div class="title">control outputs</div>
        <ng-container *ngFor="let ctrl of model.control.items">
          <div class="control output item">
            <editor-pin [pin]="ctrl.pin" [controlStyle]="true"></editor-pin>
            <input type="text"
                  (blur)="sanitizeControl(ctrl)"
                  [(ngModel)]="ctrl.label"/>
          </div>
        </ng-container>
        <editor-adder (add)="newControl()" style="control"></editor-adder>
      </div>

    </div>
  </editor-bar>
</div>
