<div class="container" [@container]="">
  <img src="assets/logo-backdrop.svg"
    [ngStyle]="{'animation-delay': '-' + (tester.playbackPercentage * 3) + 's'}"
    [ngClass]="{'loading': communicating, 'reverse' : reverting, 'tester': tester.active, 'playing': playing}"/>
  <editor-bar position="left">
    <editor-general></editor-general>

    <div class="inputs pin-list">
      <div class="title">inputs</div>
      <ng-container *ngFor="let in of model.in.items">
        <div class="input item">
          <input type="text"
                (click)="changeTestInput(in.label)"
                [readonly]="tester.active"
                (blur)="sanitizeInput(in)"
                [(ngModel)]="in.label"/>
          <editor-pin [pin]="in.pin"></editor-pin>
        </div>
      </ng-container>
      <editor-adder (add)="newInput()" [disabled]="tester.active"></editor-adder>
    </div>

    <div class="configs pin-list">
      <div class="title">configs</div>
      <ng-container *ngFor="let conf of model.config.items">
        <div class="config item">
          <input type="text"
                [readonly]="tester.active"
                (blur)="sanitizeConfig(conf)"
                [(ngModel)]="conf.label"/>
          <editor-pin [pin]="conf.pin"></editor-pin>
        </div>
      </ng-container>
      <editor-adder (add)="newConfig()" [disabled]="tester.active"></editor-adder>
    </div>

    <div class="action-list bottom main" [ngClass]="{'wd' : model.id && !tester.active}">
      <div class="button save" [ngClass]="{'hidden': tester.active}"(click)="save()">Save</div>
      <div class="button" routerLink="/">Home</div>

      <div class="mode-toggle-buttons">
        <div class="button test"
          (click)="testMode()"
          [ngClass]="{'active' : !tester.active}">Test</div>
        <div class="button edit"
          (click)="editMode()"
          [ngClass]="{'active': tester.active}">Edit</div>
      </div>
      <br/><br/>
      <div class="button" (click)="confirmDeletion()">Delete</div>
    </div>
  </editor-bar>

  <editor-pane></editor-pane>

  <ng-container *ngFor="let link of model.links">
    <editor-link [link]="link"></editor-link>
  </ng-container>

  <editor-bar position="right">
    <div class="main-action-holder" [ngClass]="{'hidden': tester.active}">
      <div
        [ngClass]="{'delete': state == states.adding || state == states.selected }"
        (click)="mainAction()"
        class="main-action">+</div>
    </div>

    <div class="main-action-holder test" [ngClass]="{'hidden': !tester.active}">
      <div class="main-action" (click)="tester.togglePlayback()">
        <span class="play-pause" [ngClass]="{'playing': playing}"></span>
      </div>
    </div>

    <div class="action-list add-nodes" [ngClass]="{'active': state == states.adding && !tester.active}">
      <div class="button value" (click)="newValue()">value</div>
      <div class="button expr" (click)="newExpr()">expression</div>
      <div class="button switch" (click)="newSwitch()">switch</div>
      <div class="button call" (click)="newCall()">call</div>
    </div>

    <div class="out-pins">

      <div class="outputs pin-list">
        <div class="title">outputs</div>
        <ng-container *ngFor="let out of model.out.items">
          <div class="output item">
            <editor-pin [pin]="out.pin"></editor-pin>
            <input type="text"
                  [readonly]="tester.active"
                  (blur)="sanitizeOutput(out)"
                  [(ngModel)]="out.label"/>
          </div>
        </ng-container>
        <editor-adder (add)="newOutput()" style="output" [disabled]="tester.active"></editor-adder>
      </div>

      <div class="controls outputs pin-list">
        <div class="title">control outputs</div>
        <ng-container *ngFor="let ctrl of model.control.items">
          <div class="control output item">
            <editor-pin [pin]="ctrl.pin" [controlStyle]="true"></editor-pin>
            <input type="text"
                  [readonly]="tester.active"
                  (blur)="sanitizeControl(ctrl)"
                  [(ngModel)]="ctrl.label"/>
          </div>
        </ng-container>
        <editor-adder (add)="newControl()" style="control" [disabled]="tester.active"></editor-adder>
      </div>

    </div>
  </editor-bar>

  <timeline #timeline></timeline>
</div>


<overlay #deleteOverlay>
  <overlay-title>Confirm Deletion</overlay-title>
  <overlay-content>
    Are you sure you want to delete node
    <span class="overlay-path">{{model.path}}</span>?
    <br/>
    This process cannot be undone. Additionally, nodes
    that depend on it will malfunction and require correction.
  </overlay-content>
  <overlay-actions>
    <button (click)="deleteOverlay.close()">Oh Wait ...</button>
    <button class="danger" (click)="delete()">Delete</button>
  </overlay-actions>
</overlay>

<overlay #deletedOverlay>
  <overlay-title>Deleted</overlay-title>
  <overlay-content>
    Node
    <span class="overlay-path">{{model.path}}</span>
    sucssessfully deleted.
  </overlay-content>
  <overlay-actions>
    <button (click)="deletedOverlay.close()">Ok</button>
  </overlay-actions>
</overlay>

<overlay #testInputOverlay>
  <overlay-title>
    test value of
    <span class="overlay-input">{{targetTestInput}}</span>
  </overlay-title>
  <overlay-content>
    add the test value for input <span class="overlay-input">{{targetTestInput}}</span>.
    you can click on the input to modify this value later.

    <br><br>
    <div class="overlay-input-editor">
      <ace-editor #testInputEditor
                  mode="javascript"
                  [options]="aceOptions"
                  style='min-height:16px;'></ace-editor>
    </div>
  </overlay-content>

  <overlay-actions>
    <button (click)="setTestValue()">
      Set Value
    </button>
  </overlay-actions>
</overlay>
