.container {
  background: #212121;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

img {
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-left: -512px;
  margin-top: -412px;
}

img.loading {
  animation:spin 2s ease-in-out infinite;
}

.pin-list {
  margin-top: 32px;
}

.pin-list .title {
  font-weight: 600;
  font-size: 14px;
  color: #757575;
}

.pin-list .item {
  border: 1px solid white;
  height: 16px;
  padding: 4px 8px;
  padding-top: 2px;
  padding-bottom: 6px;
  border-radius: 32px;
  line-height: 14px;
  margin: 8px 0;
  position: relative;
}

.pin-list .item.add-more {
  width: 26px;
  height: 26px;
  text-align: center;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  cursor: pointer;
  opacity: .25;
  transition: opacity .3s;
}

.pin-list .item.add-more:hover {
  opacity: 1;
}

.pin-list .item editor-pin {
  position: absolute;
  right: 6px;
  top: 50%;
  margin-top: -7px;
}

.pin-list .item input {
  display: inline;
  background: none;
  border: none;
  outline: none;
  max-width: 102px;
  font-family: inherit;
  font-size: 13px;
  color: white;
}

@keyframes spin { 100% {transform:rotate(720deg); } }

.main-action {
  width: 96px;
  height: 96px;
  text-align: center;
  margin: 0 auto;
  border: 4px solid white;
  border-radius: 96px;
  font-size: 72px;
  cursor: pointer;
  opacity: .25;
  transform: rotate(0deg);

  transition: all .3s;
}

.main-action:hover {
  opacity: 1;
}

.main-action.delete {
  transform: rotate(135deg);
  opacity: 1;
}
