.container {
  background: #212121;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

img {
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-left: -512px;
  margin-top: -412px;
}

img.loading {
  animation:spin 2s ease-in-out infinite;
}

img.loading.reverse {
  animation:spin-reverse 2s ease-in-out infinite;
}

.pin-list {
  margin-top: 32px;
  width: 120px;
}

.pin-list .title {
  font-weight: 600;
  font-size: 14px;
  color: #757575;
  margin-bottom: 8px;
}

.pin-list .item {
  border: 1px solid white;
  height: 16px;
  padding: 4px 8px;
  padding-top: 2px;
  padding-bottom: 6px;
  border-radius: 32px;
  line-height: 14px;
  margin: 8px 0;
  position: relative;
}

.pin-list .item editor-pin {
  position: absolute;
  right: 6px;
  top: 50%;
  margin-top: -7px;
}

.pin-list .item input {
  display: inline;
  background: none;
  border: none;
  outline: none;
  max-width: 102px;
  font-family: inherit;
  font-size: 13px;
  color: white;
}

.pin-list.outputs {
  text-align: right;
  direction: rtl;
}

.pin-list .item.output editor-pin {
  right: auto;
  left: 6px;
}

.pin-list .item.control {
  border-color: #FFC400;
}

.pin-list .item.control input {
  color: #FFC400;
}

.out-pins {
  position: absolute;
  bottom: 0px;
}

@keyframes spin { 100% {transform:rotate(720deg); } }
@keyframes spin-reverse { 100% {transform:rotate(-720deg); } }

.main-action-holder {
  background: #424242;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 112px;
}

.main-action {
  width: 96px;
  height: 96px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  border: 4px solid white;
  border-radius: 96px;
  font-size: 72px;
  cursor: pointer;
  opacity: .25;
  transform: rotate(0deg);

  transition: all .3s;
}

.main-action:hover {
  opacity: 1;
}

.main-action.delete {
  transform: rotate(135deg);
  opacity: 1;
}

.action-list {
  margin-top: 24px;
  text-align: center;
}

.action-list.main {
  transform: translateY(80px);
  transition: transform .3s;
}

.action-list.main.wd {
  transform: translateY(0px);
}

.add-nodes {
  z-index: 10;
  transform: translateY(-50%);
  opacity: 0;

  transition: transform .3s, opacity .3s;
}

.add-nodes.active {
  transform: translateY(104px);
  opacity: 1;
}

editor-bar .button {
  padding: 2px;
  padding-bottom: 3px;
  border: 1px solid white;
  border-radius: 32px;
  font-size: 14px;
  margin: 8px 0;
  cursor: pointer;
  opacity: .5;

  transition: opacity .3s;
}

editor-bar .button:hover {
  opacity: 1;
}

editor-bar .action-list.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay-path {
  color: #00BFA5;
}
