body {
  font-family: 'Didact Gothic', sans-serif;
  background: #424242;
  text-align: center;
  color: #bdbdbd;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.back {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top:0;
  left: 0;
  z-index: -10;
}

.back img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -60vmax;
  margin-top: -60vmax;
  width: 120vmax;
  height: 120vmax;
}

.section {
  height: 95vh;
  width: 100vw;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: background-color .2s, color .2s;
  -webkit-transition: background-color .2s, color .2s;
  color: white;
  will-change: background-color;
  will-change: color;
}

body.white .section {
  background: white;
  color: black;
}

body.white .section.white {
  background-image: url('./carbon-light.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80vmin;
}

pre {
  max-width: 100%;
}

code.hljs {
  display: inline-block;
  background: #212121;
  padding: 0px 32px;
  border-radius: 32px;
  border: 1px solid white;
  color: #bdbdbd;
  font-size: 14px;
  text-align: left;
  max-width: 80vw;
}

code.hljs span.hljs-built_in {
  color: #B2FF59;
}

code.hljs span.hljs-keyword {
  color: #2979FF;
}

code.hljs span.hljs-params {
  color: #FFC400;
}

code.hljs span.hljs-number {
  color: #d500f9;
}

span.hl {
  color: #B2FF59;
}
