/*** general styles ***/

body {
  font-family: 'Didact Gothic', sans-serif;
  background: #424242;
  text-align: center;
  color: #f5f5f5;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.back {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top:0;
  left: 0;
  z-index: -10;
}

.back img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -60vmax;
  margin-top: -60vmax;
  width: 120vmax;
  height: 120vmax;
}

.back.white {
  background: white;
  background-image: url('./carbon-light.svg');
  background-repeat: repeat-y;
  background-position: center;
  background-size: 80vmin;

  transform: scaleY(0);
  opacity: 0;
  transition: transform .2s, opacity .2s;
}

body.white .back.white {
  transform: scaleY(1);
  opacity: 1;
}

/*** section styles ***/

.section {
  position: relative;
  min-height: 95vh;
  width: 100vw;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: background-color .2s, color .2s;

  color: white;
}

.section.top {
  align-items: start;
}

body.white .section {
  color: black;
}

.section .inner.full {
  width: 100%;
}

/*** section images ***/
.section img {
  max-width: 100vw;
}

/*** buttons styles ***/

.button {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #f5f5f5;
  border-radius: 50px;
  height: 38px;
  line-height: 38px;
  width: 200px;
  font-weight: bold;
  text-decoration: none;
  color: #f5f5f5;
  margin: 8px;
  cursor: pointer;

  transition: border-color .2s, color .2s, background .2s, transform .2s;
}

.button:hover {
  background: #f5f5f5;
  color: #424242;
}

body.white a.button {
  border-color: #424242;
  color: #424242;
}

body.white a.button:hover {
  background: #424242;
  color: #f5f5f5;
}

@media screen and (max-width: 600px) {
  a.button {
    width: 70vw;
  }
}

/*** icon buttons ***/

.button.icon {
  width: 38px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button.icon img {
  width: 24px;
  height: 24px;
  filter: invert(0%);

  transition: filter .2s;
}

.button.icon:hover {
  transform: scale(1.2);
}

.button.icon:hover img {
  filter: invert(100%);
}

body.white .button.icon img {
  filter: invert(100%);
}

body.white .button.icon:hover img {
  filter: invert(0%);
}

/*** text pieces ***/

p {
  width: 50vw;
}

@media screen and (max-width: 600px) {
  p {
    width: 90vw;
    margin: 8px auto;
  }
}

.spacer {
  display: block;
  height: 16px;
}

.spacer.wide {
  height: 32px;
}

.spacer.huge {
  height: 64px;
}

/*** videos ***/

.video {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.full .video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.full .video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*** code block styles ***/

pre {
  max-width: 100%;
}

code.hljs {
  display: inline-block;
  background: #212121;
  padding: 0px 32px;
  border-radius: 32px;
  border: 1px solid #f5f5f5;
  color: #bdbdbd;
  font-size: 14px;
  text-align: left;
  max-width: 80vw;
}

code.hljs span.hljs-built_in {
  color: #B2FF59;
}

code.hljs span.hljs-keyword {
  color: #2979FF;
}

code.hljs span.hljs-params {
  color: #FFC400;
}

code.hljs span.hljs-number {
  color: #d500f9;
}

span.hl {
  color: #B2FF59;
}

/*** general mobile-specific styles ***/

.mobile-only {
  display: none;
}

@media screen and (max-width: 600px) {
  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }
}

/*** contact buttons ***/

.contact {
  position: fixed;
  right: 32px;
  height: 256px;
  top: 50%;
  margin-top: -128px;
  width: 40px;
  z-index: 100;
}
