/*** general styles ***/

body {
  font-family: 'Didact Gothic', sans-serif;
  background: #f5f5f5;
  color: #424242;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

h1 {
  font-size: 32px;
}

a {
  text-decoration: none;
  color: #9e9e9e;
  position: relative;
  cursor: pointer;
}

a::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #9e9e9e;
  opacity: 0.5;
  transform: scaleX(0);
  content: ' ';
  transition: transform .15s;
}

a:hover::after {
  transform: scaleX(1);
}

div[buttons] {
  text-align: right;
  margin: 32px;
}

button {
  background: #424242;
  color: #f5f5f5;
  border: 2px solid #424242;
  border-radius: 38px;
  padding: 0 24px;
  height: 38px;
  font-size: 16px;
  cursor: pointer;
  transition: background .15s, color .15s;
}

button:hover {
  background: none;
  color: #424242;
}

div[menu] {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  text-align: left;
  padding: 12px;
  color: #9e9e9e;
}

div[menu] img,
div[menu] a {
  display: inline-block;
  vertical-align: middle;
  margin: 12px;
}


div[menu] img {
  width: 48px;
  height: 48px;
}

.holder {
  position: fixed;
  width: 100vw;
  top: 96px;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.outer-holder {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.inner-holder {
  position: fixed;
  width: 100vw;
  top: 96px;
  bottom: 0;
  overflow: hidden;
}

div[videostripe] {
  background: rgba(0, 0, 0, .8);
  white-space: nowrap;
  padding: 16px;
  width: 150vw;
  margin-left: -20vw;
}

div[videostripe] iframe {
  display: inline-block;
  vertical-align: top;
  margin: 8px;
}

section {
  min-height: calc(100vh - 96px);
  min-width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

section:not(:last-child) {
  margin-bottom: 20vh;
}

section[dark] {
  color: white;
}

section>div {
  width: 100vw;
  padding-left: 10vw;
  padding-right: 50vw;
  overflow: hidden;
  margin-top: -96px;
  text-align: left;
}

section>div[opposite] {
  padding-right: 10vw;
  padding-left: 50vw;
}

section p.sub {
  color: #9e9e9e;
  font-size: 14px;
  max-width: 30vw;
}

section p.sub.absolute {
  position: absolute;
  bottom: 32px;
}

img[backdrop] {
  position: fixed;
  left: 50vw;
  top: 50vh;
  width: 80vmin;
  height: 80vmin;
  margin-left: -40vmin;
  margin-top: -40vmin;
  transform-origin: 40vmin 46.5vmin;
  opacity: .5;
}

div[animated] {
  position: absolute;
  left: 0;
  top: 0;
  will-change: transform;
}

div[animated][inplace] {
  position: relative;
}

div[animated][behind] {
  z-index: -1000;
}

div[animated][front] {
  z-index: 10000;
}

div[animated].dark {
  background: #424242;
}

div[animated].full {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

div[animated].half {
  width: 100vw;
  height: 50vh;
}

div[animated].fourth {
  width: 100vw;
  height: 25vh;
}

.intro-art {
  margin-top: -30vw;
  width: 50vw;
  height: 50vw;
}

.intro-art #boxes #box1 {
  animation: introbox1 3s infinite alternate ease-in-out;
}

.intro-art #boxes #box2 {
  animation: introbox2 3.75s infinite alternate ease-in-out;
}

.intro-art #boxes #box3 {
  animation: introbox3 2.75s infinite alternate ease-in-out;
}

.intro-art #boxes #box4 {
  animation: introbox4 2s infinite alternate ease-in-out;
}

.intro-art #boxes #box5 {
  animation: introbox5 3.5s infinite alternate ease-in-out;
}

@keyframes introbox1 {
  from {transform: translate(0.000000px, 206.000000px);}
  to {transform: translate(0.000000px, 226.000000px);}
}

@keyframes introbox2 {
  from {transform: translate(133.000000px, 13.000000px);}
  to {transform: translate(133.000000px, -13.000000px);}
}

@keyframes introbox3 {
  from {transform: translate(204.000000px, 87.000000px);}
  to {transform: translate(204.000000px, 107.000000px);}
}

@keyframes introbox4 {
  from {transform: translate(421.000000px, 206.000000px);}
  to {transform: translate(421.000000px, 196.000000px);}
}

@keyframes introbox5 {
  from {transform: translate(543.000000px, -10.000000px);}
  to {transform: translate(543.000000px, 10.000000px);}
}

.deploy-image {
  width: 17vw;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: rgba(25, 25, 25, .5);
  border-radius: 6px;
  border: 1px solid rgba(100, 100, 100, .5);

  transition: background .15s, border-color .15s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(25, 25, 25, 1);
  border-color: rgba(100, 100, 100, 1);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-button {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
