.holder {
  margin: 0 auto;
  text-align: center;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.inner {
  width: 80vw;
}

.header {
  text-align: left;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  left: 0;
  right: 0;
  top: 0;
}

.header .block {
  max-height: 48px;
  margin: 0 16px;
}

.header .block img {
  max-height: 48px;
}

.header .block.name {
  flex-grow: 1;
  color: #bdbdbd;
}

.header .block.button {
  color: white;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity .15s;
}

.header .divider {
  width: 2px;
  height: 24px;
  background: #757575;
  margin: 0 16px;
}

.header .block.button:hover {
  opacity: 1;
}

.inner {
  max-height: calc(100vh - 168px);
}

.menu {
  max-height: calc(100vh - 168px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px dashed #757575;
}

.menu .navs {
  text-align: left;
}

.menu .navs .nav {
  margin: 8px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity .15s, transform .15s;
  transform-origin: left;
}

.menu .navs .nav:hover {
  transform: translateX(8px) scale(1.1);
  opacity: 1;
}

.menu .navs .nav.active {
  opacity: 1;
  transform: scale(1.5);
}

.content {
  text-align: left;
  max-height: calc(100vh - 168px);
  overflow: scroll;
  opacity: 1;

  transition: opacity .15s, transform .15s ease-in-out;
}

.content.navigating {
  transform: translateX(96px);
  opacity: 0;
}

.server {
  font-size: 10px;
  position: absolute;
  right: 16px;
  bottom: 16px;
  color: #757575;
}

.server .version {
  margin-left: 24px;
  color: #757575;
  transition: color .15s;
}

.server .version:hover {
  color: #448aff;
}
