<div class="holder" [@holder]="">
  <div class="header">
    <a class="block" href="https://connect-platform.com" target="_blank">
      <img class="logo" src="assets/logo.svg"/>
    </a>
    <div class="divider"></div>
    <div class="block name">{{name}}</div>
    <a class="block button shell" href="{{shellUrl}}" *ngIf="shellUrl" target="_blank">Shell</a>
    <div class="divider" *ngIf="shellUrl"></div>
    <a class="block button docs" href="https://medium.com/connect-platform/guides/home" target="_blank">Guides & Docs</a>
    <div class="divider" *ngIf="loggedIn"></div>
    <a class="block button logout" *ngIf="loggedIn" (click)="logout()">Logout</a>
  </div>
  <div class="aligner">
    <div class="inner" fxLayout="row" fxLayoutGap="80px" fxLayoutAlign="center">
      <div class="menu" fxFlex="256px">
        <div class="navs">
          <div class="nav" (click)="path='nodes'" [ngClass]="{'active': path=='nodes'}">NODES</div>
          <div class="nav" (click)="path='config'" [ngClass]="{'active': path=='config'}">CONFIG</div>
          <div class="nav" (click)="path='vault'" [ngClass]="{'active': path=='vault'}">VAULT</div>
          <div class="nav" (click)="path='packages'" [ngClass]="{'active': path=='packages'}">PACKAGES</div>
          <div class="nav" (click)="path='services'" [ngClass]="{'active': path=='services'}">SERVICES</div>
        </div>
      </div>
      <div class="content" [ngClass]="{'navigating': navigating}" fxFlex>
        <ng-container *ngComponentOutlet="currentComponent"></ng-container>
      </div>
    </div>
  </div>
</div>

<div class="server">connected to {{backend.address}}</div>
