.holder {
  margin: 0 auto;
  text-align: center;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.inner {
  width: 80vw;
}

.header {
  text-align: left;
  position: absolute;
  padding: 16px;
  background: #424242;
  left: 0;
  right: 0;
  top: 0;
}

.header .block {
  display: inline-block;
  vertical-align: middle;
  max-height: 48px;
  margin: 0 16px;
}

.header .block img {
  max-height: 48px;
}

.header .block.name {
  border-left: 2px solid rgba(255, 255, 255, .25);
  padding-left: 32px;
  color: #bdbdbd;
}

.header .block.logout {
  position: absolute;
  right: 16px;
  top: 24px;
  cursor: pointer;
  opacity: 0.25;
  transition: opacity .15s;
}

.header .block.logout:hover {
  opacity: 1;
}

.inner {
  max-height: calc(100vh - 168px);
}

.menu {
  max-height: calc(100vh - 168px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px dashed #757575;
}

.menu .navs {
  text-align: left;
}

.menu .navs .nav {
  margin: 8px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity .15s, transform .15s;
  transform-origin: left;
}

.menu .navs .nav:hover {
  transform: translateX(8px) scale(1.1);
  opacity: 1;
}

.menu .navs .nav.active {
  opacity: 1;
  transform: scale(1.5);
}

.content {
  text-align: left;
  max-height: calc(100vh - 168px);
  overflow: scroll;
  opacity: 1;

  transition: opacity .15s, transform .15s ease-in-out;
}

.content.navigating {
  transform: translateX(96px);
  opacity: 0;
}

.server {
  font-size: 10px;
  opacity: .3;
  position: absolute;
  right: 16px;
  bottom: 16px;
}
