.outer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
  z-index: 0;
}

.outer::-webkit-scrollbar {
  width: 0px;
}

.inner {
  width: 1000%;
  height: 100%;
}


.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.empty {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.empty>div {
  max-width: 30vw;
  text-align: center;
}

.empty>div>p {
  opacity: .5;
  margin-bottom: 24px;
}
