<div class="outer" (scroll)="scrollEvent($event)">
  <div class="inner"
    (mousedown)="mouseDownEvent($event)"
    (mousemove)="mouseMoveEvent($event)"
    (mouseup)="mouseUpEvent($event)">
    <div class="backdrop" (click)="editor.deselect()"></div>

    <editor-selector></editor-selector>

    <ng-container *ngFor="let node of model.nodes">
      <editor-card [node]="node"></editor-card>
    </ng-container>

    <div class="empty" *ngIf="model.nodes.length == 0">
      <div>
        <p>
          New to CONNECT platform? Read our guides and documents to find out
          what you can do with it and how.
        </p>
        <a class="button full"
            href="https://medium.com/connect-platform/connect-101-hellow-world-dee3e7c9720d"
            target="_blank">Check Out The Guides</a>
      </div>
    </div>
  </div>
</div>
