.outer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
  z-index: 0;
}

.outer::-webkit-scrollbar {
  width: 0px;
}

.inner {
  width: 1000%;
  height: 100%;
}


.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
