<div class="holder">
  <div class="title">SERVICES</div>

  <div class="services">
    <p>
      add other <span class="hl-white">CONNECT microservices</span> here to be able to easily use them as if they were
      local packages. you can also add non-CONNECT microservices, however they need to offer their
      api specification in the same format CONNECT instances do.
    </p>
    <br>
    <div class="service" *ngFor="let service of services" (click)="selected=service">
      <img src="assets/services.svg"/>
      <div class="name"> {{ service.name }} </div>
      <div class="url"> {{ service.url }} </div>
    </div>
  </div>

  <div class="toolbar">
    <div class="search action"
        [ngClass]="{'active': searching}">
      <span (click)="toggleSearch()"
            class="material-icons">search</span>
      <input #searchinput
            (blur)="searching=searchinput.value.length>0"
            type="text"/>
    </div>
    <div (click)="overlay.activate()" class="add action">
      <span>+</span>
    </div>
  </div>
</div>

<overlay #overlay icon="assets/services.svg" [active]="selected">
  <overlay-title>
    <ng-container *ngIf="selected">
      Modify Service <span class="hl-blue">{{selected.name}}</span>
    </ng-container>
    <ng-container *ngIf="!selected">
      Add a Service
    </ng-container>
  </overlay-title>
  <overlay-content>
    <ng-container *ngIf="!selected">
      you can add a service simply by adding its url and giving it a name.
      you will be able to access its nodes, for example <span class="hl-blue">/x</span>,
      with a call to <span class="hl-blue">name:/x</span>.
    </ng-container>
    <ng-container *ngIf="selected">
      you can modify the url of this service here:
    </ng-container>
    <br><br>
    <input #namein class="name" type="text"
      [ngClass]="{'gone': selected}"
      placeholder="name of the service ..."/>
    <input #urlin class="url" type="text"
      placeholder="url of the service ..."
      [value]="selected?.url"/>
    <ng-container *ngIf="selected">
      <br><br>
      this service allows you to make calls to following paths:
      <br><br>
      <div class="provided-holder">
        <div class="provided">
          <ng-container *ngFor="let signature of selectedInfo?.signatures">
            <span class="hl-teal">{{signature.path}}</span><br/>
            <p class="hint" *ngIf="signature.hints && signature.hints.node" [innerHTML]="signature.hints.node"></p>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </overlay-content>
  <overlay-actions>
    <button (click)="save(namein.value, urlin.value)" *ngIf="!selected">Add</button>
    <button (click)="removeOverlay.activate()" *ngIf="selected">Remove</button>
    <button (click)="save(selected.name, urlin.value)" *ngIf="selected">Save</button>
  </overlay-actions>
</overlay>

<overlay #removeOverlay>
  <overlay-title>
    Confirm Removal
  </overlay-title>
  <overlay-content>
    are you sure you want to remove service <span class="hl-teal">{{selected?.name}}</span>?
    nodes depending on this service will mal-function and would require updating.
  </overlay-content>
  <overlay-actions>
    <button (click)="removeOverlay.close()">Oh Wait ...</button>
    <button class="danger" (click)="remove(selected?.name)">Remove</button>
  </overlay-actions>
</overlay>
