<div class="holder">
  <div>
    <span class="access"
          [ngClass]="{
            'public': model.public,
            'internal': ! model.public,
            'socket': model.socket
          }"
          (click)="toggleAccess()">
    {{ model.public ? "public" : (model.socket ? "socket" : "internal") }}
    </span>
    <span class="method"
          (click)="model.method=nextMethod()"
          *ngIf="model.public"
    >
      {{model.method}}
    </span>
  </div>
  <div>
    <input class="path" [(ngModel)]="model.path" type="text" [readonly]="tester.active"/>
  </div>
</div>
