.holder {
}

.access {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: color .3s;
}

.access.public {
  color: #76FF03;
}

.access.internal {
  color: #448aff;
}

.method {
  vertical-align: baseline;
  font-weight: 900;
  cursor: pointer;
  font-size: 13px;
  color: #9e9e9e;
  margin: 0 4px;
}

.path {
  border: none;
  background: none;
  outline: none;
  font-family: inherit;
  color: white;
  font-size: 18px;
  font-weight: 100;
  margin: 8px 0;
}
