.holder {
  position: absolute;
  z-index: 2000;
  height: 0px;
  cursor: pointer;
  transform-origin: center left;

  top: 120px;
  width: 256px;
}

.holder.in-pane {
  z-index: 999;
}


.holder:hover {
  opacity: 1;
}

.holder .inner {
  position: relative;
}

.holder .line {
  border: 5px dotted #76FF03;
  margin-top: -4px;
  margin-left: 7px;
  margin-right: 16px;
  transform: scaleY(.15);
  opacity: 0.5;
  transition: opacity .15s, box-shadow .15s;
}

.holder .line.chrome {
  border-style: dashed;
}

.holder:hover .line {
  opacity: 1;
}

.holder.selected .line {
  opacity: 1;
  border-style: solid;
  box-shadow: 0 0px 0px 8px rgba(118,255,3,.2), 0 0px 128px #76FF03;
}

.holder.control .line {
  border-color: #FFC400;
}

.holder.control.selected .line {
  box-shadow: 0 0 64px #FFC400;
  box-shadow: 0 0px 0px 8px rgba(255,196,0,.2), 0 0px 128px #FFC400;
}

.holder img {
  width: 13px;
  height: 13px;
  position: absolute;
  right: 8px;
  top: -2px;
  transform: scaleY(.65);
}
