.holder {
  position: absolute;
  z-index: 2000;
  height: 0px;
  opacity: 0.3;
  transition: opacity .3s;
  cursor: pointer;
  transform-origin: center left;

  top: 120px;
  width: 256px;
}

.holder.in-pane {
  z-index: 999;
}

.holder:hover {
  opacity: 1;
}

.holder .inner {
  position: relative;
}

.holder .line {
  border: 5px dashed #76FF03;
  margin-top: -4px;
  margin-left: 11px;
  margin-right: 8px;
  transform: scaleY(.2);
}

.holder.control .line {
  border-color: #FFC400;
}

.holder img {
  width: 13px;
  height: 13px;
  position: absolute;
  right: 0px;
  top: -2px;
}

.holder.control img {
}
