<div class="holder" [ngClass]="{'in-pane': inPane, 'control': isControl, 'selected': active }"
  [ngStyle]="{'left.px': fromPos.left, 'top.px': fromPos.top, 'width.px': linkWidth, 'transform': linkTransform}"
  (click)="select($event)"
  (mouseover)="mouseover()"
  (mouseout)="mouseout()"
  >
  <div class="inner">
    <div class="line" [ngClass]="{'chrome': isChrome}"></div>
    <img src="assets/arrow-head.svg" *ngIf="!isControl"/>
    <img src="assets/arrow-head-control.svg" *ngIf="isControl"/>
  </div>
</div>
