<div class="holder"
    [ngClass]="{'initial': _newBorn,
                'picked': picked,
                'selected': (selected || selectionCandidate) && !deselectionCandidate,
                'active': activeInTester,
                'error': errorInTester != null,
                'expr': type==types.expr, 'value': type==types.value, 'switch': type==types.switch, 'call':type==types.call}"
    [ngStyle]="{'left.px': node.box.left, 'top.px': node.box.top, 'width.px': node.box.width, 'height.px': node.box.height}"
    (mouseover)="mouseover()"
    (mouseout)="mouseout()"
    (mousedown)="pick($event)"
    (mouseup)="unpick($event)">

    <ng-container *ngIf="type == types.expr">
      <div class="inner" #inner>
        <div #inputs>
          <ng-container *ngFor="let in of node.in.items">
            <div class="input">
              <editor-pin [pin]="in.pin" (mouseover)="mouseover($event, in)"></editor-pin>
              <input type="text"
                    [readonly]="tester.active"
                    [value]="in.label"
                    (mousedown)="subfocus($event)"
                    (focus)="inputFocus($event)"
                    (blur)="sanitizeInput(in)"
                    (keyup)="inputChange(in, $event)"
                    (change)="inputChange(in, $event)">
            </div>
          </ng-container>
          <editor-adder style="expr" (add)="newInput()" [disabled]="tester.active"></editor-adder>
        </div>
        <div class="expr-code">
          <editor-code [(code)]="node.code" [pin]="node.result" [readonly]="tester.active"></editor-code>
        </div>
        <div class="size-toggle" (click)="expand()"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="type == types.value">
      <div class="inner" #inner>
        <editor-code
          [readonly]="tester.active"
          [selected]="(selected || selectionCandidate) && !deselectionCandidate"
          [error]="errorInTester != null"
          [(code)]="node.code"
          [pin]="node.result"></editor-code>
        <div class="size-toggle value" (click)="expand()"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="type == types.switch">
      <div class="inner" #inner>
        <div class="target">
          <editor-pin [pin]="node.target"></editor-pin>
        </div>
        <div #cases class="cases">
          <ng-container *ngFor="let control of node.control.items">
            <div class="case" (focusout)="sanitizeControl(control)">
              <editor-code [readonly]="tester.active" [shadow]="false" [(code)]="control.label" [pin]="control.pin"></editor-code>
            </div>
          </ng-container>
          <editor-adder style="switch" (add)="newCase()" [disabled]="tester.active"></editor-adder>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="type == types.call">
      <div class="inner" #inner>
        <div class="path">
          <input type="text"
                [readonly]="tester.active"
                (mousedown)="subfocus($event)"
                (focus)="_suggesting=!tester.active"
                (focusout)="_suggesting=false"
                [(ngModel)]="node.path"/>
        </div>
        <div class="path-suggest" *ngIf="suggestPaths && !tester.active">
          <div class="item" *ngFor="let path of suggestPaths"
            (mouseover)="mouseover($event, undefined, path)"
            (mousedown)="node.path=path">
            {{ path }}
          </div>
        </div>

        <div #inputs>
          <ng-container *ngFor="let in of node.in.items">
            <div class="input">
              <editor-pin [pin]="in.pin" (mouseover)="mouseover($event, in)"></editor-pin>
              <span type="text" (mouseover)="mouseover($event, in)">{{in.label}}</span>
            </div>
          </ng-container>
        </div>

        <div #outputs>
          <ng-container *ngFor="let out of node.out.items">
            <div class="output">
              <span type="text" (mouseover)="mouseover($event, out)">{{out.label}}</span>
              <editor-pin [pin]="out.pin" (mouseover)="mouseover($event, out)"></editor-pin>
            </div>
          </ng-container>
        </div>

        <div #controls>
          <ng-container *ngFor="let control of node.control.items">
            <div class="output control">
              <span type="text" (mouseover)="mouseover($event, control)">{{control.label}}</span>
              <editor-pin [pin]="control.pin" (mouseover)="mouseover($event, control)"></editor-pin>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
</div>
