.holder {
  position: absolute;
  width: 156px;
  height: 156px;
  background: #424242;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  transition: box-shadow .3s, transform .3s, height .5s;
}

.holder.picked {
  z-index: 999;
}

.holder.initial {
  transition: none;
}

.holder:hover {
  box-shadow: 0 6px 8px rgba(0,0,0,0.5);
}

.holder .inner {
  padding: 12px;
}

.input, .output {
  margin-bottom: 8px;
  font-size: 13px;
}

.input editor-pin {
  margin-right: 6px;
}

.input input, .path input {
  display: inline;
  background: none;
  border: none;
  outline: none;
  max-width: 96px;
  font-family: inherit;
  font-size: 13px;
  color: white;
}

.target {
  text-align: center;
  line-height: 12px;
  margin-bottom: 8px;
}

.case {
  margin-bottom: 8px;
}

.output {
  text-align: right;
}

.output.control {
  color: #FFC400;
}

.output editor-pin {
  margin-left: 6px;
}

.path {
  text-align: center;
}

.path input {
  text-align: center;
  color: #00BFA5;
  margin-bottom: 8px;
}
