.holder {
  position: absolute;
  width: 156px;
  height: 156px;
  background: #424242;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  transition: box-shadow .3s, transform .3s, height .1s linear;
}

.holder.picked {
  z-index: 999;
}

.holder.initial {
  transition: none;
}

.holder:hover:not(.selected) {
  box-shadow: 0 6px 8px rgba(0,0,0,0.5);
}

.holder.selected:not(.value) {
  box-shadow: 0 0px 0px 2px #40c4ff, 0 0px 32px #0064b7;
}

.holder .inner {
  padding: 12px;
}

.input, .output {
  margin-bottom: 8px;
  font-size: 13px;
}

.input editor-pin {
  margin-right: 6px;
}

.input input, .path input {
  display: inline;
  background: none;
  border: none;
  outline: none;
  max-width: 96px;
  font-family: inherit;
  font-size: 13px;
  color: white;
}

.target {
  text-align: center;
  line-height: 12px;
  margin-bottom: 8px;
}

.case {
  margin-bottom: 8px;
}

.output {
  text-align: right;
}

.output.control {
  color: #FFC400;
}

.output editor-pin {
  margin-left: 6px;
}

.path {
  text-align: center;
}

.path input {
  text-align: center;
  color: #00BFA5;
  margin-bottom: 8px;
  min-width: 100%;
}

.input.placeholder {
  padding: 2px 0;
}

.add-more {
  width: 12px;
  height: 12px;
  text-align: center;
  border: 1px solid white;
  border-radius: 24px;
  font-size: 10px;
  opacity: .5;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.add-more:hover {
  opacity: 1;
}

.case .add-more {
  width: 22px;
  height: 22px;
  font-size: 16px;
  color: #FFC400;
  border-color: #FFC400;
  background: #212121;
}

.path-suggest {
  position: absolute;
  left: 16px;
  right: 16px;
  text-align: center;
  background: #424242;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  font-size: 13px;
  font-weight: light;
}

.path-suggest .item {
  padding: 8px 0;
  cursor: pointer;
  color: #9e9e9e;
  transition: color .3s;
}

.path-suggest .item:hover {
  color: #00BFA5;
}
