.holder {
  position: absolute;
  width: 156px;
  height: 156px;
  background: #424242;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0,0,0,0.16), 0 0 6px rgba(0,0,0,0.23);
  transform: translateY(0px);
  transition: box-shadow .1s, transform .1s, height .1s;
}

.holder:hover {
  box-shadow: 0 3px 16px rgba(0,0,0,0.16), 0 6px 16px rgba(0,0,0,0.23);
  transform: translateY(-1px);
}

.holder .inner {
  padding: 8px;
}

.input {
  margin: 8px;
  font-size: 14px;
  opacity: .7;
  transition: opacity .3s;
}

.input:hover {
  opacity: 1;
}

.input editor-pin {
  margin-right: 8px;
}
