.holder {
  background: #212121;
  border: 1px solid white;
  padding: 4px;
  border-radius: 13px;
  margin: 0;
  position: relative;
}

.holder.shadow {
  box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  transition: box-shadow .3s;
}

.holder.shadow:hover:not(.selected) {
  box-shadow: 0 6px 18px rgba(0,0,0,0.5);
}

.holder.selected {
  box-shadow: 0 0px 0px 1px #40c4ff, 0 0px 32px #0064b7;
}

.holder.control {
  border-color: #FFC400;
}

.ace-holder {
  margin-right: 20px;
}

ace-editor {
}

editor-pin {
  position: absolute;
  right: 6px;
  top: 50%;
  margin-top: -7px;
}
