div {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  margin: 4px 8px;
  cursor: pointer;
  border: 1px solid #ffffff;
  background: #424242;
  opacity: 0.6;

  transition: opacity .3s;
}

div:hover {
  opacity: 1;
}
