.holder {
  background-image: linear-gradient(rgba(76, 76, 76, .85), rgba(49, 49, 49, .85));
  backdrop-filter: blur(7px) saturate(200%) brightness(200%);
  position: absolute;
  top: 0;
  height: 100vh;
  width: 156px;
  z-index: 1000;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.holder.left {
  left: 0;
}

.holder.right {
  right: 0;
}

.inner {
  position: absolute;
  top: 16px;
  bottom: 16px;
  left: 16px;
  right: 16px;
}
