div {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  border-radius: 19px;
  cursor: pointer;
  border: 2px solid #ffffff;
  opacity: 0.8;

  transition: opacity .3s;
}

div:hover {
  opacity: 1;
}
