.timeline {
  position: fixed;
  left: 220px;
  right: 220px;
  bottom: 0px;
  height: 48px;
  opacity: 0;

  transition: all .5s ease-in-out;
}

.timeline.active {
  opacity: 1;
  cursor: pointer;
  transition: all .01s ease-in-out;
}

.timeline .background {
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  height: 2px;
  background: #424242;
  border-radius:32px;
  transform: scaleX(0);

  transition: all .15s ease-in-out;
}

.timeline.active .background {
  transform: scaleX(1);
}

.timeline:hover .background {
  top: 3px;
  height: 6px;
  left: -2px;
  right: -2px;
}

.timeline .filled {
  position: absolute;
  background: #448aff;
  border-radius: 32px;
  left: 0;
  top: 5px;
  height: 2px;

  transition: top .15s ease-in-out, height .15s ease-in-out, left .15s ease-in-out;
}

.timeline:hover .filled {
  top: 3px;
  height: 6px;
  left: -2px;
}

.timeline .handle {
  position: absolute;
  width: 8px;
  height: 8px;
  top: -2px;
  border-radius: 16px;
  margin-left: -8px;
  background: #448aff;
  border: 4px solid #448aff;
  transform: scale(0.5);
  opacity: 0;

  transition:
    transform .15s ease-in-out,
    box-shadow .15s ease-in-out,
    background .15s ease-in-out,
     opacity .05s ease-in-out;
}

.timeline.active .handle {

  transition:
    transform .15s ease-in-out,
    box-shadow .15s ease-in-out,
    background .15s ease-in-out,
     opacity .5s ease-in-out;

  opacity: 1;
}

.timeline:hover .handle {
  transform: scale(1);
  background: #424242;
}

.timeline:hover .handle:hover {
  box-shadow: 0 0 12px #448aff;
}

.timeline .timer {
  position: absolute;
  font-size: 12px;
  top: 16px;
  left: 50%;
  margin-left: -48px;
  height: 24px;
  width: 96px;
  background: rgba(0, 0, 0, .5);
  line-height: 24px;
  border-radius: 24px;
  text-align: center;
  color: #448aff;

  transform: translateY(48px);
  transition: transform .15s ease-in-out;
}

.timeline.active .timer {
  transform: translateY(0px);
}

.timeline .hover-time {
  position: absolute;
  font-size: 12px;
  text-align: center;
  width: 96px;
  height: 24px;
  line-height: 24px;
  top: -32px;
  margin-left: -48px;
  background: rgba(0, 0, 0, .5);
  color: #9e9e9e;
  border-radius: 24px;

  transform: scale(0);
  transition: transform .15s ease-in-out;
}

.timeline:hover .hover-time {
  transform: scale(1);
}
