.timeline {
  position: fixed;
  left: 220px;
  right: 220px;
  bottom: 0px;
  height: 48px;
  opacity: 0;
  z-index: 1000;

  transition: all .5s ease-in-out;
}

.timeline.active {
  opacity: 1;
  cursor: pointer;
  transition: all .01s ease-in-out;
}

.timeline .background {
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  height: 2px;
  background: #616161;
  border-radius:32px;
  transform: scaleX(0);

  transition: all .15s ease-in-out;
}

.timeline.active .background {
  transform: scaleX(1);
}

.timeline:hover .background {
  top: 3px;
  height: 6px;
  left: -2px;
  right: -2px;
}

.timeline .filled {
  position: absolute;
  background: #448aff;
  border-radius: 32px;
  left: 0;
  top: 5px;
  height: 2px;

  transition: top .15s ease-in-out, height .15s ease-in-out, left .15s ease-in-out;
}

.timeline:hover .filled {
  top: 3px;
  height: 6px;
  left: -2px;
}

.timeline .handle {
  position: absolute;
  width: 8px;
  height: 8px;
  top: -2px;
  border-radius: 16px;
  margin-left: -6px;
  background: #448aff;
  border: 4px solid #448aff;
  transform: scale(0.5);
  opacity: 0;

  transition:
    transform .15s ease-in-out,
    box-shadow .15s ease-in-out,
    background .15s ease-in-out,
     opacity .05s ease-in-out;
}

.timeline.active .handle {

  transition:
    transform .15s ease-in-out,
    box-shadow .15s ease-in-out,
    background .15s ease-in-out,
     opacity .5s ease-in-out;

  opacity: 1;
}

.timeline:hover .handle {
  transform: scale(1);
  background: transparent;
}

.timeline:hover .handle:hover {
  box-shadow: 0 0 12px #448aff;
}

.timeline .timer {
  position: absolute;
  font-size: 12px;
  top: 16px;
  left: 50%;
  margin-left: -48px;
  height: 24px;
  width: 96px;
  background: rgba(0, 0, 0, .5);
  line-height: 24px;
  border-radius: 24px;
  text-align: center;
  color: #448aff;

  transform: translateY(48px);
  transition: transform .15s ease-in-out;
}

.timeline.active .timer {
  transform: translateY(0px);
}

.timeline .bwd, .timeline .fwd {
  position: absolute;
  display: inline-block;
  top: 16px;
  opacity: 0.25;
  cursor: pointer;
  width: 32px;
  text-align: center;
  transform: translateY(48px);

  transition: opacity .15s, transform .15s;
}

.timeline.active .fwd,
.timeline.active .bwd {
  transform: translateY(0px);
}

.timeline .fwd {
  left: calc(50% + 64px);
}

.timeline .fwd:hover {
  transform: translateX(4px);
}

.timeline .bwd {
  left: calc(50% - 64px - 32px);
}

.timeline .bwd:hover {
  transform: translateX(-4px);
}

.timeline .bwd:hover,
.timeline .fwd:hover {
  opacity: 1;
}

.timeline .events .event {
  position: absolute;
  top: 3px;
  height: 6px;
  width: 4px;
  margin-left: -2px;
  border-radius: 4px;
  background: #616161;

  transition: top .15s ease-in-out, height .15s ease-in-out;
}

.timeline .events .event.passed {
  background: #448aff;
}

.timeline:hover .events .event {
  top: 1px;
  height: 10px;
}

.timeline .hover-time {
  position: absolute;
  font-size: 12px;
  text-align: center;
  width: 96px;
  height: 24px;
  line-height: 24px;
  top: -32px;
  margin-left: -48px;
  background: rgba(0, 0, 0, .5);
  color: #9e9e9e;
  border-radius: 24px;

  transform: scale(0);
  transition: transform .15s ease-in-out;
}

.timeline:hover .hover-time {
  transform: scale(1);
}

.console-toggle, .timelimit {
  position: absolute;
  font-size: 12px;
  bottom: 4px;
  right: 220px;
  width: 80px;
  min-width: auto;
  z-index: 2005;
  transform: translateY(48px);
  transition: transform .15s ease-out, color .15s, background .15s;
}

.timelimit {
  right: auto;
  left: 220px;
}

.console-toggle.enabled,
.timelimit.enabled {
  transform: translateY(0);
}

.console-toggle.active {
  background: white;
  color: black;
}

.console {
  position: absolute;
  width: 360px;
  padding: 12px;
  height: 256px;
  bottom: 52px;
  right: 220px;
  overflow: hidden;
  overflow-y: auto;
  background-image: linear-gradient(rgba(51, 51, 51, .25), rgba(30, 30, 30, .25));
  backdrop-filter: blur(20px) saturate(200%) brightness(150%);
  border-radius: 3px;
  z-index: 2004;
  box-shadow: 0 0 4px rgba(0, 0, 0, .12);

  transform: scale(0);
  transform-origin: bottom right;

  transition: transform .15s ease-in, opacity .15s;
}

.console.expanded {
  width: 640px;
  height: 512px;
}

.console .size-toggle {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 8px;
  right: 8px;
  background-size: 24px 24px;
  background-position: center;
  cursor: pointer;
  opacity: 0.25;
  transition: opacity .15s, transform .15s;
}

.console .size-toggle.collapse {
  background-image: url('../../../../assets/collapse.svg');
}

.console .size-toggle.collapse:hover {
  opacity: .75;
  transform: scale(0.8);
}

.console .size-toggle.expand {
  background-image: url('../../../../assets/expand.svg');
}

.console .size-toggle.expand:hover {
  opacity: .75;
  transform: scale(1.2);
}

.console.not-safari {
  background-image: linear-gradient(rgba(51, 51, 51, .85), rgba(42, 42, 42, .85));
}

.console.active {
  transform: scale(1);
}

.console .entry {
  position: relative;
  padding: 4px;
  font-size: 12px;
  margin-left: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 3px;
  font-family: 'PT Mono', monospace !important;
  background: rgba(0, 0, 0, 0);
  transition: background .15s;
  cursor: pointer;
}

.console .entry::before {
  position: absolute;
  content: ' ';
  top: 0;
  bottom: 0;
  left: -16px;
  width: 2px;
  border: 2px dotted white;
  opacity: 0.15;
  transition: border-color .15s, opacity .15s;
}

.console .entry:hover {
  background: rgba(0, 0, 0, .55);
}

.console .entry:hover::before {
  opacity: .5;
}

.console .entry.warn {
  color: #fbd341;
}

.console .entry.warn:hover::before {
  border-color: #fbd341;
  opacity: 1;
}

.console .entry.error {
  color: #f73859;
}

.console .entry.error:hover::before {
  border-color: #f73859;
  opacity: 1;
}

.console .entry pre {
  white-space: pre;
  word-break: break-all;
  overflow-x: auto;
}

overlay input {
  background: rgba(0, 0, 0, .25);
  width: calc(100% - 24px);
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 19px;
  padding: 8px;
  outline: none;
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #448aff;
}
