<div class="timeline" #holder
  (mousemove)="updateHoverTime($event)"
  (click)="tester.playbackPosition=hoverTime"
  (mousedown)="seek=true"
  (mouseup)="seek=false"
  [ngClass]="{'active': tester.active}">
  <div class="background"></div>
  <div class="filled" [style.width]="filled*100 + '%'"></div>

  <div class="events">
    <div class="event"
        *ngFor="let event of events"
        [ngClass]="{'passed': event.time <= tester.playbackPosition}"
        [style.left]="event.time/tester.duration*100 + '%'"
        ></div>
  </div>

  <div class="handle" [style.left]="filled*100 + '%'"></div>
  <div class="timer">
    {{tester.playbackPosition | number:'.2-2'}}ms
  </div>
  <div class="hover-time" [style.left]="hoverTimeLeft + 'px'">
    {{hoverTime | number:'.2-2'}}ms
  </div>
</div>

<button class="console-toggle"
  (click)="toggleConsole($event)"
  [ngClass]="{'enabled': tester.active, 'active': tester.active && consoleActive}">
  console
</button>

<div class="console"
  [ngClass]="{'active': tester.active && consoleActive, 'not-safari': !isSafari}">
  <div class="entry {{event.event.cascaded.event}}"
      *ngFor="let event of consoleEvents"
      (click)="jumpToLog(event, $event)">
    <pre>{{event.event.cascaded?.data}}</pre>
  </div>
</div>
