<div class="timeline" #holder
  (mousemove)="updateHoverTime($event)"
  (click)="tester.playbackPosition=hoverTime"
  (mousedown)="seek=true"
  (mouseup)="seek=false"
  [ngClass]="{'active': tester.active}">
  <div class="background"></div>
  <div class="filled" [style.width]="filled*100 + '%'"></div>

  <div class="events">
    <div class="event"
        *ngFor="let event of events"
        [ngClass]="{'passed': event.time <= tester.playbackPosition}"
        [style.left]="event.time/tester.duration*100 + '%'"
        ></div>
  </div>

  <div class="handle" [style.left]="filled*100 + '%'"></div>
  <div class="timer">
    {{tester.playbackPosition | number:'.2-2'}}ms
  </div>
  <div class="hover-time" [style.left]="hoverTimeLeft + 'px'">
    {{hoverTime | number:'.2-2'}}ms
  </div>
</div>

<button class="console-toggle"
  (click)="toggleConsole($event)"
  [ngClass]="{'enabled': tester.active, 'active': tester.active && consoleActive}">
  console
</button>

<div class="console"
  [ngClass]="{'active': tester.active && consoleActive, 'not-safari': !isSafari}">
  <div class="entry {{event.event.cascaded.event}}"
      *ngFor="let event of consoleEvents"
      (click)="jumpToLog(event, $event)">
    <pre>{{event.event.cascaded?.data}}</pre>
  </div>
</div>

<button class="timelimit"
  [ngClass]="{'enabled': tester.active}"
  (click)="timelimitOverlay.activate()">
  time limit
</button>

<overlay #timelimitOverlay
  icon="assets/timer.svg">
  <overlay-title>
    Time Limit
  </overlay-title>
  <overlay-content>
    Set the time limit for executing the node, in milliseconds. If the node
    does not finish in that time-span, only up until that point in time will
    be recorded.
    <br><br>
    <input [(ngModel)]="tester.timelimit" type="text" placeholder="time limit in milliseconds ..."/>
  </overlay-content>
  <overlay-actions>
    <button (click)="timelimitOverlay.close()">
      Done
    </button>
  </overlay-actions>
</overlay>
