/* You can add global styles to this file, and also import other style files */

html {
    height: 100%;
    overflow: hidden;
}

* { padding: 0; margin: 0; }
html, body {
    min-height: 100% !important;
    height: 100%;
    font-family: Futura, 'Nunito', sans-serif;
    /*background: #424242;*/
    background-image: linear-gradient(#424242, #363636);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    color: white;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/*** SCROLL BAR FOR WEBKIT BROWSERS ***/

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: rgba(25, 25, 25, .5);
  border-radius: 6px;
  border: 1px solid rgba(100, 100, 100, .5);

  transition: background .15s, border-color .15s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(25, 25, 25, 1);
  border-color: rgba(100, 100, 100, 1);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-button {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/*** SOME GENERIC STYLES ***/

h1 {
  font-weight: 100;
}

small {
  opacity: 0.5;
}

a.link {
  color: #448aff;
  text-decoration: none !important;
}

button {
  display: inline-block;
  min-width: 128px;
  padding: 2px 12px;
  background: none;
  color: white;
  padding-bottom: 3px;
  border: 1px solid white;
  border-radius: 32px;
  font-size: 14px;
  font-family: inherit;
  margin: 8px 0;
  cursor: pointer;
  outline: none;
  opacity: .5;

  transition: opacity .1s, background .1s, color .1s;
}

button.danger {
  color: #ff1744;
  border-color: #ff1744;
}

button:hover {
  opacity: 1;
}

a.button {
  text-decoration: none;
}

.overlay .inner button {
  opacity: 1;
}

.overlay .inner button:hover {
  background: white;
  color: black;
}

.overlay .inner button.danger:hover {
  background: #ff1744;
}

.hl-green {
  color: #76FF03;
}

.hl, .hl-blue {
  color: #448aff;
}

.hl-teal {
  color: #00BFA5;
}

.hl-white {
  color: #FFFFFF;
}

.horizontal-spacer {
  display: inline-block;
  width: 64px;
  height: 4px;
}

/*** ACE EDITOR OVERRIDES ***/

ace-editor {
  font-family: 'PT Mono', monospace !important;
  font-size: 13px !important;
  font-weight: bold !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

ace-editor .ace_gutter {
  margin-left: -16px;
  padding-right: 8px;
  border-right: 1px dashed rgba(255, 255, 255, .25);
  background: none !important;
  color: rgba(255, 255, 255, .25) !important;
  opacity: 0.5;
  transition: opacity .15s;
}

ace-editor .ace_gutter:hover {
  opacity: 1;
}

ace-editor .ace_gutter-active-line {
  border-right: 2px solid #448aff;
}

ace-editor .ace_marker-layer .ace_active-line {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

ace-editor .ace_marker-layer .ace_selection {
  background: rgba(255, 255, 255, .1) !important;
}

ace-editor .ace_marker-layer .ace_bracket {
  margin: 1px 0 0 1px;
  background: rgba(255, 255, 255, .15);
}

ace-editor .ace_keyword {
  color: #c6ff00 !important;
}

ace-editor .ace_type {
  color: #c6ff00 !important;
}

ace-editor .ace_string {
  color: #00bfa5 !important;
}

ace-editor .ace_paren {
  color: #4A90E2 !important;
}

ace-editor .ace_operator {
  color: #4A90E2 !important;
}

ace-editor .ace_identifier,
ace-editor .ace_support {
  color: #E0E0E0 !important;
}

ace-editor .ace_numeric {
  color: #F5A623 !important;
}

ace-editor .ace_language {
  color: #C0CA33 !important;
}

ace-editor .ace_hidden-cursors {
  opacity: 0 !important;
}
