/* You can add global styles to this file, and also import other style files */

html {
    height: 100%;
    overflow: hidden;
}

* { padding: 0; margin: 0; }
html, body {
    min-height: 100% !important;
    height: 100%;
    font-family: Futura, 'Nunito', sans-serif;
    background: #424242;
    color: white;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/*** SOME GENERIC STYLES ***/

h1 {
  font-weight: 100;
}

small {
  opacity: 0.5;
}

button {
  display: inline-block;
  width: 128px;
  padding: 2px;
  background: none;
  color: white;
  padding-bottom: 3px;
  border: 1px solid white;
  border-radius: 32px;
  font-size: 14px;
  font-family: inherit;
  margin: 8px 0;
  cursor: pointer;
  outline: none;
  opacity: .5;

  transition: opacity .1s, background .1s, color .1s;
}

button.danger {
  color: #ff1744;
  border-color: #ff1744;
}

button:hover {
  opacity: 1;
}

.overlay .inner button {
  opacity: 1;
}

.overlay .inner button:hover {
  background: white;
  color: black;
}

.overlay .inner button.danger:hover {
  background: #ff1744;
}

.hl-green {
  color: #76FF03;
}

.hl-blue {
  color: #448aff;
}

.hl-teal {
  color: #00BFA5;
}

.hl-white {
  color: #FFFFFF;
}

/*** ACE EDITOR OVERRIDES ***/

ace-editor {
  font-family: 'PT Mono', monospace !important;
  font-size: 12px !important;
  font-weight: bold !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

ace-editor .ace_marker-layer .ace_active-line {
  background-color: rgba(0, 0, 0, 0) !important;
}

ace-editor .ace_marker-layer .ace_selection {
  background: rgba(255, 255, 255, .1) !important;
}

ace-editor .ace_keyword {
  color: #c6ff00 !important;
}

ace-editor .ace_type {
  color: #c6ff00 !important;
}

ace-editor .ace_string {
  color: #00bfa5 !important;
}

ace-editor .ace_paren {
  color: #4A90E2 !important;
}

ace-editor .ace_operator {
  color: #4A90E2 !important;
}

ace-editor .ace_identifier,
ace-editor .ace_support {
  color: #D500F9 !important;
}

ace-editor .ace_numeric {
  color: #F5A623 !important;
}

ace-editor .ace_language {
  color: #C0CA33 !important;
}

ace-editor .ace_hidden-cursors {
  opacity: 0 !important;
}
