/* You can add global styles to this file, and also import other style files */

html {
    height: 100%;
}

* { padding: 0; margin: 0; }
html, body {
    min-height: 100% !important;
    height: 100%;
}
